body{
	font-family: Helvetica, "Trebuchet MS" , Arial;
	font-size: small;
}


/* L'image en background */
#bg {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
}
#bg img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}

/* Le carde de la page */		
#page-wrap { 
	position: relative; 
	z-index: 2; 
	width: 90%; 
	margin: 50px auto; 
	padding: 5px 20px; 
	background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
	opacity: 0.90;
}

.similarHref a {
	color: #7E7E7E;
}
.similarLink {
	margin-top: 10px;
	display:none;
}

/* Pied de page */
#footer {
	color: #7E7E7E;
	clear: both;
	padding: 10px;
}
.footer_right {
	float: right;
}
#footer a {
	color: #7E7E7E;
}
.footer_htmlPages {
	text-align: right;
}

@media screen and (max-width: 800px) {
	#page-wrap { 
		width: 90%;
	}
}
@media screen and (min-width: 1000px) {
	#page-wrap { 
		width: 800px;
	}
}
.uploadResult {
	font-weight: bold;
}
.uploadResult.ok {
	color: #008000;
}
.uploadResult.nok {
	color: #FF0000;
}
#ButtonStart,
#ButtonReset {
	display: none;
}
.limit {
	margin-top: 20px;
	text-align: center;
	color: #7E7E7E;
}
a {
	color:#07396A;
	text-decoration:underline;
}

#fileupload .expire-button,
#fileupload .boutton {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
	.file.icone,
	.file.name,
	.file.info,
	.file.input {
		margin: 0 auto;
		text-align:center;
		width: 90%;
	}
	input.copy {
		width: 85%;
	}
}
@media screen and (min-width: 800px) {
	.file.icone {
		float: left;
	}
	input.copy {
		width: 75%;
	}
}
.verySpeedDownload {
	color: #FF0000;
	font-weight: bold;
}
.speedDownload {
	color: #FFA500;
	font-weight: bold;
}
#viewMod {
	text-align:center;
	padding: 5px;
}
#viewMod a {
	text-decoration: none;
}
.fileGlobal {
	padding-top: 10px;
}
.file {
	padding: 4px;	
}
.file.icone {
	cursor: pointer;
	margin: 10px;
	padding: 10px;
}
.file.icone a {
	text-decoration: none;
	color : #FFFFFF;
}
.file.name {
	font-size: 20px;
}
.file.name a {
	text-decoration: none;  
	color: #000000;
}

.file.info {
	color: #A1A1A1;
}
.file.info .type {
	margin-left: 10px;
}
.file.input img {
	float: left;
	width: 25px;
}
.file.input a {
	color: #000000;
}
.file.delete,
.deleteAll {
	width: 45px;
	float: right;
	
}

input.copy {
	background-image: url('/lib/copy.svg');
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #EBEBEB;
	border: 1px solid #C6C6C6;
	padding: 4px;
	cursor: copy;
}
#accessForm,
#passwordForm,
#uploadOptions,
#redirectToFiles, 
#addToShare,
.shareUrlPrint,
.delete,
.deleteAll,
.myFiles {
	display: none;
}

.passwordForm;
#redirectToFiles {
	text-align:center;
}
#myFilesTab {
	width: 100%;
}
#myFilesTab td {
	text-align: center;
	cursor: pointer;
}
.uploadOptionsLink {
	color: #07396A;
	text-decoration: none;
}
#newUploadPub {
	text-align:center;
	font-size: 120%;
	margin: 10px;
}
.newUpload {
	text-align: center;
	margin: 10px;
	margin-top: 40px;
	cursor: pointer;
}
.newUpload img{
	width: 100px;
}
.similarServices {
	text-align: center;
}
#redirectToFiles {
	font-style:bold;
}
.error.myFiles0,
#maxUploadTotalError {
	text-align:center;
}
#maxUploadTotalError {
	font-style: bold;
	color: red;
	display: none;
}
.fileGlobal.fileAll,
.fileGlobal.fileJust1 {
	background-color: #EBEBEB;
	border-radius: 25px;
	border: 2px solid #CACACA;
	opacity:0.6;
	padding-bottom: 10px;
}
.fileJust1.icone {
	margin: 5px 10px;
	padding: 5px 10px;
}
#myFilesArea table {
	width: 100%;
}
#myFilesArea td,
#myFilesArea th {
	text-align: center;
}
#upgrade {
	text-align: right;
	opacity:0.6;
} 
#langues {
    position: fixed;
    top: 0px;
    right: 20px;
    padding: 6px;
    border: 1px solid #2F2F2F;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #333333; 
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
	opacity: 0.70;
	z-index: 999; /* Sit on top */
}
#languesLegende {
    position: fixed;
    top: 50px;
    right: 25px;
    padding: 8px;
    border: 1px solid #6F6C2F;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #E2DC8C; 
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
	opacity: 0.70;
	z-index: 999; /* Sit on top */
}
img.drapeau {
	margin-right: 6px;
	margin-left: 6px;
}
img.drapeauActif {
	opacity: 0.50;
}
.formChoixDeLangue {
	margin: 0; 
	padding: 0; 
}



/* Highlighted Paragraphs */
.highlight-1, .highlight-2, .highlight-3 {
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	padding : 5px 10px;
}
.highlight-1 {
	background : #FFCCCC;
	border : 1px dotted #FF9966;	
}
.highlight-2 {
	background : #FFFF99;
	border : 1px dotted #FFCC33;	
}
.highlight-3 {
	background : #CCFF99;
	border : 1px dotted #CCCC33;
}

